<style>
    h1 { 
        text-align: center;
        font-size: 60px;
        margin-bottom: 10px;
    }
    h2 { 
        text-align: center;
    }
    h3 { 
        text-align: center;
    }
    #colorSelect{
        text-align: center;
    }
    #sortSelect{
        text-align: center;
        display: none;
    }
    img {
        width: 70px;
        height: 70px;
    }
    #space1{
        z-index: 0;
        border-style: solid;
        border-color: white;
        margin-top: 50px;
        width: 1500px;
        right: 305px;
        height: 480px;
        position: relative;
        display: none;

    }
    #space2{
        z-index: 0;
        border-style: solid;
        border-color: white;
        margin-top: 50px;
        width: 1500px;
        right: 305px;
        height: 480px;
        position: relative;
        display: none;

    }
    .default{
        padding: 10px;
        cursor: move;
        z-index: 10;
        position: absolute;
        color: #fff; 
        border: 1px solid whitesmoke;
        z-index:1;
        top: 560px;
        height: 150px;
        left:21.35%;
        display: none;
    }
    .default2{
        padding: 10px;
        cursor: move;
        z-index: 10;
        position: absolute;
        color: #fff; 
        border: 1px solid whitesmoke;
        z-index:0;
        top: 950px;
        height: 150px;
        left:21.35%;
        display: none;
    }
    .headerDefault{
        border: 0.5px solid whitesmoke;
    }
    #slot2{
        left: 30.7%;
    }
    #slot3{
        left: 40.05%;
    }
    #slot4{
        left: 49.4%;
    }
    #slot5{
        left: 58.7%;
    }
    #slot6{
        left: 68%;
    }
    #slot7{
        left: 77.25%;
    }
    #slot0{
        left: 12%;
    }
    .vl {
        border-left: 6px solid green;
        height: 300px;
        position: absolute;
        left: 0.2%;
        margin-left: -3px;
        top: 0;
        z-index:3;
    }
    .v2 {
        border-left: 6px solid green;
        height: 300px;
        left: 0.2%;
        margin-left: -3px;
        top: 1000px;
        display:none;
        z-index:3;
    }
</style>
<body>
<section id = header>
    <h1>Palette Puzzle!</h1>
    <b>

    </b>
</section>

<section id = intro>
    <h2>Pick a color to sort by</h2>
    <section id = colorSelect>
        <button id = red>
            <img id = redIMG src = "{{site.baseurl}}/images/red.png">
        </button>
        <button id = green>
            <img id = greenIMG src = "{{site.baseurl}}/images/green.png">
        </button>
        <button id = blue>
            <img id = blueIMG src = "{{site.baseurl}}/images/blue.png">
        </button>
    </section>
</section>
<section id = colorchoice>

</section>
<div id="space1">
    <h3>Sort the following colors based how much of the color you picked it has. (least to greatest) </h3>
</div>
<div class="v1"></div>
    <div class = "default" id="slot0">  
        <div class = headerDefault id="slot0header">Click here to move</div>


    </div>
    <div class = "default" id="slot1">  
        <div class = headerDefault id="slot1header">Click here to move</div>


    </div>
    <div class = "default" id="slot2">  
        <div class = headerDefault id="slot2header">Click here to move</div>


    </div>
    <div class = "default" id="slot3">  
        <div class = headerDefault id="slot3header">Click here to move</div>


    </div>

    <div class = "default" id="slot4">  
        <div class = headerDefault id="slot4header">Click here to move</div>


    </div>

    <div class = "default" id="slot5">  
        <div class = headerDefault id="slot5header">Click here to move</div>


    </div> 

    <div class = "default" id="slot6">  
        <div class = headerDefault id="slot6header">Click here to move</div>


    </div> 

    <div class = "default" id="slot7">  
        <div class = headerDefault id="slot7header">Click here to move</div>


    </div> 
    <div id = "sortSelect">
        <h3>Pick which type of sort you want the computer to do!</h3>
        <button id = Selection>
            Selection Sort
        </button>
        <button id = Bubble>
            Bubble Sort
        </button>
        <button id = Merge>
            Merge Sort
        </button>
    </div>

    <div id="space2">
        <h3>Computer Sorted Colors (least to greatest):</h3>
    </div>
    <div class="v2"></div>
    <div class = "default2" id="slot0">  
        <div class = headerDefault id="slot0header">Click here to move</div>


    </div>
    <div class = "default2" id="slot1">  
        <div class = headerDefault id="slot1header">Click here to move</div>


    </div>
    <div class = "default2" id="slot2">  
        <div class = headerDefault id="slot2header">Click here to move</div>


    </div>
    <div class = "default2" id="slot3">  
        <div class = headerDefault id="slot3header">Click here to move</div>


    </div>

    <div class = "default2" id="slot4">  
        <div class = headerDefault id="slot4header">Click here to move</div>


    </div>

    <div class = "default2" id="slot5">  
        <div class = headerDefault id="slot5header">Click here to move</div>


    </div> 

    <div class = "default2" id="slot6">  
        <div class = headerDefault id="slot6header">Click here to move</div>


    </div> 

    <div class = "default2" id="slot7">  
        <div class = headerDefault id="slot7header">Click here to move</div>


    </div> 


<script>
    const _0 = document.getElementById("slot0");
    const _1 = document.getElementById("slot1");
    const _2 = document.getElementById("slot2");
    const _3 = document.getElementById("slot3");
    const _4 = document.getElementById("slot4");
    const _5 = document.getElementById("slot5");
    const _6 = document.getElementById("slot6");
    const _7 = document.getElementById("slot7");
    const _border = document.getElementById("space1");
    const _colorSelect = document.getElementById("intro");
    const _chosenColor = document.getElementById("colorchoice");
    const _sortSelect = document.getElementById("sortSelect");
    const _selectionButton = document.getElementById("Selection");
    const _bubbleButton = document.getElementById("Bubble");
    const _mergeButton = document.getElementById("Merge");
    const _border2 = document.getElementById("space2");
    const _default2 = document.getElementsByClassName("default2");
    var colorData = {};
    var whichColor = 0;
    const sortTypes = ["bubble", "selection", "insertion", "merge"];
      /*  const colorSelectR = document.getElementById("red");
    const colorSelectG = document.getElementById("green");
    const colorSelectB = document.getElementById("blue");
    const colorBox = document.getElementById("space1");
function buttonClick(){
        colorSelectR.onclick(colorBox.style.display = none);
    } 
    */
   // buttonClick();
    function rgbGen(){
        r = Math.floor(Math.random() * 256);
        g = Math.floor(Math.random() * 256);
        b = Math.floor(Math.random() * 256);
    };

    function colorBoxes(){
        var totalSlots = [_0, _1, _2, _3, _4, _5, _6, _7];
        for(let i = 0; i < 8; i++){
            rgbGen();
            RGB = [r, g, b];
            colorData[i] = RGB;
            console.log(colorData);
            totalSlots[i].style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
        }
    }

 

    function dragBoxes(){
        var totalSlots = [_0, _1, _2, _3, _4, _5, _6, _7];
        for(let i = 0; i < 8; i++){
            _border.style.display = `block`;
            totalSlots[i].style.display = `block`;
            dragElement(totalSlots[i]);
        }
    }



    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
        // if present, the header is where you move the DIV from:
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
        // otherwise, move the DIV from anywhere inside the DIV:
        elmnt.onmousedown = dragMouseDown;
        }
        elmnt.style.position = "absolute";
        function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
        }
    
        function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }
    
        function closeDragElement() {
        // stop moving when mouse button is released:
        document.onmouseup = null;
        document.onmousemove = null;
        }
    }
    document.getElementById('red').addEventListener('click', function () {
        colorBoxes();
        dragBoxes();
        whichColor = 0;
        console.log(whichColor);
        _chosenColor.innerHTML = `<h3> Color Chosen: Red <h3>`;
        _colorSelect.style.display = "none";
        _sortSelect.style.display = "block";
    });

    document.getElementById('green').addEventListener('click', function () {
        colorBoxes();
        dragBoxes();
        whichColor = 1;
        console.log(whichColor);
        _chosenColor.innerHTML = `<h3> Color Chosen: Green <h3>`;
        _colorSelect.style.display = "none";
        _sortSelect.style.display = "block";
    });

    document.getElementById('blue').addEventListener('click', function () {
        colorBoxes();
        dragBoxes();
        whichColor = 2;
        console.log(whichColor);
        _chosenColor.innerHTML = `<h3> Color Chosen: Blue <h3>`;
        _colorSelect.style.display = "none";
        _sortSelect.style.display = "block";
    });

    var endList = [];

    async function sortCall(sortType) {
        _sortSelect.style.display = "none";
        var requestBody = {
            rgbData: colorData,
            color: whichColor,
            sortType: sortType,
            big: false
        };
        fetch("http://localhost:8115/api/sortingAlgorithm/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestBody, (key, value) => {
                // Convert keys to strings
                if (typeof key === 'number') {
                    return key.toString();
                }
                return value;
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            var maxIndex = data.steps.length - 1;

            // Set specificIndex to the calculated maxIndex
            var specificIndex = maxIndex;
            
            // Access the steps array using specificIndex
            endSorted = data.steps[specificIndex];
            endList = endSorted;
        })
        .catch(error => {
            // handling errors
            console.error('Fetch error:', error);
        });
    }; 

    _selectionButton.addEventListener('click', async function() {
        console.log('selection');
        _border2.style.display = `block`;
        await sortCall('selection');
        setTimeout(function(){
                var totalSlots = [_default2[0], _default2[1], _default2[2], _default2[3], _default2[4], _default2[5], _default2[6], _default2[7]];
                var sourceList = [_default2[0].id, _default2[1].id, _default2[2].id, _default2[3].id, _default2[4].id, _default2[5].id, _default2[6].id, _default2[7].id];
                sourceList = sourceList.map(id => id.replace("slot", ""));
                console.log("SOURCE: " + sourceList);
                console.log("before: " + totalSlots[0].id);
                console.log("endList: " + endList[0]);
                console.log("after: " + totalSlots[0].id);
                //totalSlots[0].id = `slot${endList[0]}`;
            for(i = 0; i < 8; i++){
                totalSlots[i].style.display = `block`;
                totalSlots[i].style.backgroundColor = `rgb(${colorData[i]})`;
            }
            let finalOrder = [];
            endList.forEach(endValue => {
                const index = sourceList.indexOf(endValue.toString());
                if (index !== -1) {
                    // If the value is found in sourceList, add it to the orderedList
                    finalOrder.push(`slot${sourceList[index]}`);
                } else {
                    // Handle the case where the value is not found (if needed)
                    console.warn(`Value '${endValue}' not found in sourceList.`);
                }

            })
            console.log("FINAL " + finalOrder);
            
            for(i=0; i<8; i++){
                var x = 0
                x = finalOrder[i];
                x = x.slice(-1);
                console.log(x);
                totalSlots[x].id = `slot${i}`;
            }
            
    },100);
    });
    _bubbleButton.addEventListener('click', async function() {
        console.log('bubble');
        sortCall('bubble');
        _border2.style.display = `block`;
        await sortCall('bubble');
        setTimeout(function(){
                var totalSlots = [_default2[0], _default2[1], _default2[2], _default2[3], _default2[4], _default2[5], _default2[6], _default2[7]];
                var sourceList = [_default2[0].id, _default2[1].id, _default2[2].id, _default2[3].id, _default2[4].id, _default2[5].id, _default2[6].id, _default2[7].id];
                sourceList = sourceList.map(id => id.replace("slot", ""));
                console.log("SOURCE: " + sourceList);
                console.log("before: " + totalSlots[0].id);
                console.log("endList: " + endList[0]);
                console.log("after: " + totalSlots[0].id);
                //totalSlots[0].id = `slot${endList[0]}`;
            for(i = 0; i < 8; i++){
                totalSlots[i].style.display = `block`;
                totalSlots[i].style.backgroundColor = `rgb(${colorData[i]})`;
            }
            let finalOrder = [];
            endList.forEach(endValue => {
                const index = sourceList.indexOf(endValue.toString());
                if (index !== -1) {
                    // If the value is found in sourceList, add it to the orderedList
                    finalOrder.push(`slot${sourceList[index]}`);
                } else {
                    // Handle the case where the value is not found (if needed)
                    console.warn(`Value '${endValue}' not found in sourceList.`);
                }

            })
            console.log("FINAL " + finalOrder);
            
            for(i=0; i<8; i++){
                var x = 0
                x = finalOrder[i];
                x = x.slice(-1);
                console.log(x);
                totalSlots[x].id = `slot${i}`;
            }
            
    },100);

    });
    _mergeButton.addEventListener('click', async function() {
        console.log('merge');
        sortCall('merge');
        _border2.style.display = `block`;
        await sortCall('merge');
        setTimeout(function(){
                var totalSlots = [_default2[0], _default2[1], _default2[2], _default2[3], _default2[4], _default2[5], _default2[6], _default2[7]];
                var sourceList = [_default2[0].id, _default2[1].id, _default2[2].id, _default2[3].id, _default2[4].id, _default2[5].id, _default2[6].id, _default2[7].id];
                sourceList = sourceList.map(id => id.replace("slot", ""));
                console.log("SOURCE: " + sourceList);
                console.log("before: " + totalSlots[0].id);
                console.log("endList: " + endList[0]);
                console.log("after: " + totalSlots[0].id);
                //totalSlots[0].id = `slot${endList[0]}`;
            for(i = 0; i < 8; i++){
                totalSlots[i].style.display = `block`;
                totalSlots[i].style.backgroundColor = `rgb(${colorData[i]})`;
            }
            let finalOrder = [];
            endList.forEach(endValue => {
                const index = sourceList.indexOf(endValue.toString());
                if (index !== -1) {
                    // If the value is found in sourceList, add it to the orderedList
                    finalOrder.push(`slot${sourceList[index]}`);
                } else {
                    // Handle the case where the value is not found (if needed)
                    console.warn(`Value '${endValue}' not found in sourceList.`);
                }

            })
            console.log("FINAL " + finalOrder);
            
            for(i=0; i<8; i++){
                var x = 0
                x = finalOrder[i];
                x = x.slice(-1);
                console.log(x);
                totalSlots[x].id = `slot${i}`;
            }
            
    },100);
    });
</script>
</body>